*{
    padding: 0;
    margin: 0;
}
.EC-HOD-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}
.EC-HOD-content h2,h3, img{
    padding-top: 20px;
}


